<div id="templatemo_main centrar">
    	<h2 class="tituloprincipal">Equipo</h2>
        <%=image_tag "equipo.jpg" , :alt => "equipo", :id => "equipo"%>
        <p class="textoEquipo">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="espacioEquipo">

            <div class="miembro">

            	<%= image_tag "jbasanta.png", :alt => "tamanoMiembro", :class => "tamanoMiembro" %>
                <p class="tituloprincipal">Jose Basanta.
                <p>Estudiante de Ing computacion</p>
                <p>Diseñador Frontend</p>
                <p>Desarrollador Backend</p>
            </div>
            <div class="miembro">
            	<%= image_tag "jkauze.png", :alt => "tamanoMiembro", :class => "tamanoMiembro" %>
                <p class="tituloprincipal">Jesus Kauze</p> 
                <p>Estudiante de Ing computacion</p>
                <p>Administrador de sistemas</p>
                <p>Desarrollador Backend</p>
            </div>
            <div class="miembro">
            	<%= image_tag "mrodriguez.png", :alt => "tamanoMiembro", :class => "tamanoMiembro" %>
                <p class="tituloprincipal">Manuel Rodriguez</p> 
                <p>Estudiante de Ing computacion</p>
                <p>Experto de git</p>
                <p>Desarrollador Backend</p>
            </div>
            <div class="miembro">
            	            	<%= image_tag "dsegura.png", :alt => "tamanoMiembro", :class => "tamanoMiembro" %>
                <p class="tituloprincipal">David Segura</p>  
                <p>Estudiante Ing Computacion</p>
                <p>Diseñador Gráfico</p>
                <p>Desarrollador Frontend</p>
            </div>
            

        </div>